@charset "UTF-8";

/* Estilos para impressora */
* {
    margin: 10px;
    padding: 5px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.2em;
}

menu {
    display: none;
}